
.container {
    max-width: 400px;
    margin: 20px auto;
  }
  
  input, textarea {
    width: 100%;
    margin-bottom: 10px;
    background-color: rgb(236, 147, 229);
    color: black;
    border-radius: 6px;
  }
  
  button {
    display: block;
    margin-bottom: 10px;
    background-color: rgb(243, 189, 200);
    border-radius: 7px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  .entry-title {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  h1{
    color: rgb(255, 127, 255);
    margin-left: 630px;
  }